@model Review

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/recipe","Recipes"),
    ($"/recipe/details/{Model.RecipeId}",$"{Model.RecipeId}"),
    ("",$"Delete Review {Model.ReviewID}")
}) />

<div class="d-flex justify-content-center">

    <div class="card rounded shadow p-4 align-items-center" style ="width: 25rem;">
        <div class="card-body">
            <div class="d-flex justify-content-center ">
                <div class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <h3>Deleting Review...</h3>
            </div>
            
            <p class="text-sm-center"> You are about to delete the following review by <b>@Model.Author</b></p>
            <div class="card bg-light">
                <div class=" card-body text-sm-center">
                     <p>@Model.Comment </p>
                     <p>Rating: @Model.Rating</p>
                </div>
            </div>
            <p class="text-danger text-sm-center">Are you sure?</p>
  
    <!-- form to submit post request to DeleteConfirm action     --> 
            <div class="d-flex justify-content-center">
                <form asp-action="ReviewDeleteConfirm" type="post">
                    <input type="hidden" asp-for="ReviewID"/>
                    <input type="hidden" asp-for="RecipeId"/>
          
                    <button type="submit" class="btn btn-danger" aria-label="confirm">Delete!</button>
                    <a class="btn btn-secondary" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Recipe.Id" aria-label="cancel" >Cancel</a>
                </form>
            </div>
        </div>
    </div>  
</div>
