<div class="text-center">
    <h1 class="text-dark">Welcome to <small class="text-warning">CookBook</small></h1> 
</div>

<hr class="solid">

<div class="d-flex justify-content-center"> 
    <div class="card rounded shadow p-4">
        <div class="row">
            <!-- large Image-->
            <div class="col">
                <img src="https://i.pinimg.com/originals/72/9b/17/729b174fb8d50fce2c76e2dcc4aa14e4.gif" class="img" width="470">
            </div>
        <!-- Callout-->
        <div class="col">
            <div class="callout callout-warning" style ="width: 25rem;">
                <p class="text-center">
                    <i class="bi bi-calendar"></i> 
                        Today is <b> @DateTime.Now.ToLongDateString() </b> 
                </p>
                 <h4 class="text-dark text-center"> Welcome to our recipe website CookBook!<h4>
            <h6 class="text-muted text-center">Thank you for choosing our recipe website as your go-to resource for delicious and easy-to-make meals.</h6>
            <h6 class="text-warning text-center">Happy cooking!</h6>
            <!-- Small Image-->
            <div class="d-flex justify-content-center">   
                <img src="https://media2.giphy.com/media/WUO6yiQZdDVxmprha8/giphy.gif?cid=6c09b952pt6s7xf4xl9wocyuo2sbw57n6rnqfx4p5p4ynlet&rid=giphy.gif&ct=s" class="img" width="120">
            </div> 
            </div> 
        </div>
    </div>
</div>




